<h3  class="teal-text text-darken-4">Succes!</h3>

<p>You have {{Data.type}} task: <b>{{Data.taskName}}</b> </p>
{{#if Data.render}}
<p>Info about the task:</p>
<p>Author: <b>{{Data.taskAuthor}}</b></p>
<p>Task: <b>{{Data.taskBody}}</b></p>
<p>Status: <b>{{Data.status}}</b></p>
{{/if}}

