<table>
<thead> 
    <tr>
        <th class="center-align">Task Name</th>
        <th class="center-align">Task Author</th>
        <th class="center-align">Task Body</th>
        <th class="center-align">Status</th>
        <th class="center-align">Edit</th>
        <th class="center-align">Delete</th>
        
    </tr>
</thead>

{{#each Data}}
<tbody>
<tr>
    <td>{{taskName}}</td>
    <td>{{taskAuthor}}</td>
    <td>{{taskBody}}</td>
    <td>{{status}}</td>
    <td><a href="/edit/{{_id}}">Edit</a></td>
    <td><a href="/delete/{{_id}}">Delete</a></td>
    
</tr>
</tbody>
{{/each }}
</table>

