<table>
<thead> 
    <tr>
        <th>Task Name</th>
        <th>Task Author</th>
        <th>Task Body</th>
        <th>Status</th>
        <th>Edit</th>
        
    </tr>
</thead>

{{#each Data}}
<tbody>
<tr>
    <td>{{taskName}}</td>
    <td>{{taskAuthor}}</td>
    <td>{{taskBody}}</td>
    <td>{{status}}</td>
    <td><a href="/edit/{{_id}}">Edit</a></td>
    
</tr>
</tbody>
{{/each }}
</table>

